body,ul{
    margin:0px;
    padding:0px;
}
ul{
    list-style:none;
}

a{
    text-decoration:none;
}

.tab_wrap{
    width:500px;
    height:300px;
    margin:50px auto 0;
    overflow:hidden;
    position:relative;
}

.tab_btns{
    height:50px;
}
.tab_btns input{
    width:100px;
    height:50px;
    border:0px;
    background:#ddd;
    font-size:14px;
    outline:none;
}
.tab_btns .current{
    background:gold;
}
.tab_cons{
    height:250px;
    width:1500px;
    background:gold;
    position:absolute;
    left:0px;
    top:50px;
}

.tab_cons ul{
    width:500px;
    height:235px;
    float:left;
    padding-top:15px;
}

.tab_cons ul li{
    line-height:30px;
    margin:5px 20px;
    overflow:hidden;
}

.tab_cons ul a{
    font-size:14px;
    color:#333;
    float:left;
}

.tab_cons ul span{
    font-size:14px;
    color:#666;
    float:right;
}

.pop_main{
    display:none;
}

.pop_con{
    width:500px;
    height:300px;
    background:#fff;
    border-radius:4px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-150px;
    border:1px solid #f0f0f0;
    z-index:9999;
}
.pop_title{
    width:490px;
    height:40px;
    background:#157bef;
    margin:5px auto 0;
    border-radius:6px;
}
.pop_title h3{
    float:left;
    margin:0px;
    margin-left:10px;
    line-height:40px;
    color:#fff;
    font-size:18px;
    font-weight:normal;
}
.pop_title a{
    float:right;
    width:20px;
    height:20px;
    background:#fff;
    margin:10px 10px 0 0;
    text-decoration:none;
    line-height:20px;
    text-align:center;
    font-size:20px;
    border-radius:4px;
}
.pop_detail{
    height:200px;
    border-bottom:1px solid #f0f0f0;
    /* 解决margin-top塌陷 */
    overflow:hidden;
}

.pop_footer{
    height:54px;
}
.pop_footer .confirm,.pop_footer .cancel{
    float:right;
    width:100px;
    height:36px;
    background:#157bef;
    border:0px;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    margin:9px 10px 0 0;
}
.pop_footer .cancel{
    background:#ddd;
    color:#666;
    margin-right:20px;
}
.mask{
    width:100%;
    height:100%;
    background:#000;
    position:fixed;
    left:0;
    top:0;
    opacity:0.3;
    filter:alpha(opacity=30);
    z-index:9990;
}
.pop_text{
    margin:74px 0 0 100px;
    font-size:20px;
    color:#666;
}